RtosConfig
;-----------------------------------------------------------------------
; KUKA Roboter GmbH
;
; Configuration of Host-IP-address mappings
; (will be kept when running a KRC-Update)
;
;-----------------------------------------------------------------------

;-----------------------------------------------------------------------
; Configuration of Host-IP-address mappings
; Mappings defined here refer to the private network connecting
; Windows and VxWorks through Vnet network driver.
;   Format: 
;     "<HostName>" = "<IP-Address>
;-----------------------------------------------------------------------
[HostTable]
    "WINDOWS" = "192.168.0.1"
    "VXWORKS" = "192.168.0.2"

;-----------------------------------------------------------------------
; End of file
;-----------------------------------------------------------------------
