<?xml version="1.0" encoding="utf-8"?>
<!-- ### MaintenanceHandBook Configuration -->
<MaintenanceHandBookConfiguration>
  <Products>
    <Product Maintenance="BasicInspection" IntervalInYears="1"/>
    <Product Maintenance="WristMaintenance" IntervalInYears="2" IntervalInHours="10000"/>
    <Product Maintenance="MainAxisMaintenance" IntervalInYears="4" IntervalInHours="20000"/>
    <Product Maintenance="MinorElectricalMaintenance" IntervalInYears="2"/>
    <Product Maintenance="MajorElectricalMaintenance" IntervalInYears="5"/>
    <!--Product Maintenance="BackLashMeasurement" IntervalInYears="1"/-->
    <!--Product Maintenance="LinearTrackMaintenance" IntervalInYears="1"/-->
    <!--Product Maintenance="InspectionSafeOperation" IntervalInYears="1"/ -->
    <!--Product Maintenance="DataBackupWithSpareHdd" IntervalInYears="1"/-->
    <!--Product Maintenance="Repair"/-->
  </Products>
  <LogFilePath>D:\MaintenanceLog.xml</LogFilePath>
  <SendToCsp>true</SendToCsp>
</MaintenanceHandBookConfiguration>
