<?xml version="1.0" encoding="UTF-8"?>
<PMService.user xsi:noNamespaceSchemaLocation="PMService.user.config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- powerdown action: "Hibernate" or "Cold" (without quotes) -->
  <PowerdownType>Cold</PowerdownType>
  <!-- Softpowerdown with/without Windows-Powerdown: false: without Windows   true: with Windows -->
  <SoftpowerdownWithWindows>true</SoftpowerdownWithWindows>
  <!-- Activation of Poweroff delay (see PoweroffDelayTime): false: disabled   true: enabled -->
  <PowerOffDelay>false</PowerOffDelay>
  <!-- delay [s] before KRC powerdown on main switch off, see PoweroffDelay -->
  <PowerOffDelayTime>1</PowerOffDelayTime>
  <!-- delay [s] before KRC powerdown on external power fail -->
  <PowerFailDelayTime>
    <!--Depending on CabinetTypes-->
    <Unknown Value="3" />
    <Krc4CompactSr Value="1" />
  </PowerFailDelayTime>
  <Trace>
    <!-- true: trace output (file and/or net) activated -->
    <TraceActive>true</TraceActive>
    <!-- trace file name, if empty no trace file is written -->
    <TraceFile>C:/KRC/ROBOTER/LOG/PowerManagement/PMService.log</TraceFile>
    <!-- true: trace is sent via network (see below) -->
    <PortActive>true</PortActive>
    <!-- interface where trace data are sent to -->
    <TraceOutput IP="127.0.0.1" Port="4221" />
    <!-- Log Level: DEBUG, STATE, INFO, WARN, ERROR, FATAL -->
    <LogLevel>STATE</LogLevel>
  </Trace>
</PMService.user>