<?xml version="1.0" encoding="utf-8"?>
<SchedulerActionConfigurationData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ActionType>Time</ActionType>
  <ActionName>BackupAction</ActionName>
  <ActionDescription>BackupActionDescription</ActionDescription>
  <FirstTimeToExecute>2050-02-16T11:05:05.0001319+01:00</FirstTimeToExecute>
  <LastExecutionTime>0001-01-01T00:00:00</LastExecutionTime>
  <Enabled>false</Enabled>
  <ActionAssemblyName>C:\KRC\SERVICES\Scheduler\Actions\ConsistencySchedulerAction.dll</ActionAssemblyName>
  <ActionTypeName>WNP_Scheduler.StartProcessAction</ActionTypeName>
  <PrivateConfigurationData>"C:\KRC\UTIL\BackupManager\BackupManager.exe"###Arguments###-B -us</PrivateConfigurationData>
  <DependsOnCross>true</DependsOnCross>
  <ConfigurableByUser>true</ConfigurableByUser>
  <PrivateConfigFile>C:/KRC/User/SchedulerAction.BackupAction.config</PrivateConfigFile>
  <RepeatInterval>1.00:00:00</RepeatInterval>
  <MinRepeatInterval>00:01:00</MinRepeatInterval>
</SchedulerActionConfigurationData>