<?xml version="1.0"?>
<configuration>
	<TemplateInfo Version="8.3.17"/>
	<!-- Messages configuration: User defined rules start with MergeOrder="100" -->
	<KukaRoboter.SmartHMI.MessagesConfiguration type="KukaRoboter.SmartHMI.LegacySupport.Messages.MessageSet, KukaRoboter.SmartHMI.LegacySupport">
		<!-- Rule: Ignore some specific kernel system messages in "Automatic" and "Automatic Extern"-->
		<MessageSet Name="IgnoreSomeKernelMessages" MergeOrder="100">
			<Rule Module="CrossMeld" Number="\b(98|1123|2821|3087|470|1053|1155|1442|2920|3131|3132|3110|3113|3114|3115|3171|3172|3173|3174|3175|3176|3183|3184|3185|3188|3189|3190|3214|3216|3217|3218|3220|3221|3223|3232|3233|3235)\b"/>
			<IgnoreInAutomatic/>
		</MessageSet>
		<!-- Rule: Ignore some specific kernel system messages in "T1"-->
		<MessageSet Name="IgnoreSomeMessagesInT1" MergeOrder="101">
			<Rule Module="CrossMeld" Number="1053"/>
			<Ignore ModeOp="T1"/>
		</MessageSet>
	</KukaRoboter.SmartHMI.MessagesConfiguration>
	<KukaRoboter.SmartHMI.MessagesSettings type="KukaRoboter.SmartHMI.LegacySupport.Messages.Settings, KukaRoboter.SmartHMI.LegacySupport">
		<Settings DoAutoConfirm="false" AutoConfirmTime="23:50" MaxInfoMessages="100"/>
	</KukaRoboter.SmartHMI.MessagesSettings>
	<KukaRoboter.SmartHMI.CorePlugIns.Jogging type="KukaRoboter.SmartHMI.CorePlugIns.Jogging.Configuration.JoggingConfiguration, KukaRoboter.SmartHMI.CorePlugIns">
		<JoggingConfiguration ToolBaseConsistency="Index">
			<DeviceConfigurations>
				<!-- RelatedViewConfiguration: Some indicator views are managed inside the device and can therefore not be configured! -->
				<DeviceConfiguration DeviceID="KcpMouse" EnabledDefault="true" CoordinateSystemDefault="World">
					<RelatedViewConfiguration ViewName="JoggingIndicatorMouseStatus" StartOption="ShowAlways"/>
					<RelatedViewConfiguration ViewName="JoggingKcpMouseView" StartOption="ShowOnOptionsEdited"/>
					<RelatedViewConfiguration ViewName="JoggingKcpPositionView" StartOption="ShowOnOptionsEdited"/>
				</DeviceConfiguration>
				<DeviceConfiguration DeviceID="KcpParamKey" EnabledDefault="true" CoordinateSystemDefault="Axis">
					<RelatedViewConfiguration ViewName="JoggingIndicatorParamKeyStatus" StartOption="ShowAlways"/>
					<RelatedViewConfiguration ViewName="StatusBar.JoggingDistances" StartOption="ShowAlways"/>
					<RelatedViewConfiguration ViewName="JoggingKcpParamKeyView" StartOption="ShowOnOptionsEdited"/>
					<JoggingDistanceSteps>
						<Step MoveMode="Continuous" LinDistance="0" RotDistance="0"/>
						<Step MoveMode="Incremental" LinDistance="100" RotDistance="10"/>
						<Step MoveMode="Incremental" LinDistance="10" RotDistance="3"/>
						<Step MoveMode="Incremental" LinDistance="1" RotDistance="1"/>
						<Step MoveMode="Incremental" LinDistance="0.1" RotDistance="0.005"/>
					</JoggingDistanceSteps>
				</DeviceConfiguration>
			</DeviceConfigurations>
			<ProgramOverrideSteps>
				<Step>0</Step>
				<Step>1</Step>
				<Step>3</Step>
				<Step>5</Step>
				<Step>10</Step>
				<Step>30</Step>
				<Step>50</Step>
				<Step>75</Step>
				<Step>100</Step>
			</ProgramOverrideSteps>
			<JogOverrideSteps>
				<Step>0</Step>
				<Step>1</Step>
				<Step>3</Step>
				<Step>5</Step>
				<Step>10</Step>
				<Step>30</Step>
				<Step>50</Step>
				<Step>75</Step>
				<Step>100</Step>
			</JogOverrideSteps>
			<!-- No custom kinematics -->
			<CustomKinematicsGroups/>
			<CustomParamKeyCommands>
				<!-- Do not forget to reconfigure the display of the related view if you have changed the SideBarKeyID! -->
				<CustomParamKeyCommand SideBarKeyID="Param7" CommandID="ProgramOverride" ViewName="JoggingIndicatorProgramOverride"/>
				<CustomParamKeyCommand SideBarKeyID="Param8" CommandID="JogOverride" ViewName="JoggingIndicatorJogOverride"/>
			</CustomParamKeyCommands>
		</JoggingConfiguration>
	</KukaRoboter.SmartHMI.CorePlugIns.Jogging>
	<KukaRoboter.SmartHMI.UserSettings type="KukaRoboter.SmartHMI.Main.UserSettings, SmartHMI">
		<UserSettings CurrentCulture="en"/>
	</KukaRoboter.SmartHMI.UserSettings>
	<KukaRoboter.SmartHMI.Trace type="KukaRoboter.Trace.Config.util.DirectoryConfiguration, KukaRoboter.Trace.Config.ViewModel">
		<DirectoryConfiguration ImportDirectory="TraceConfig"/>
	</KukaRoboter.SmartHMI.Trace>
	<KukaRoboter.SmartHMI.ModeOpImprovedVisibility type="KukaRoboter.SmartHMI.UIFramework.SideBars.ModeOpImprovedVisibilityConfig, SmartHMI">
		<ModeOpImprovedVisibility ImprovedVisibilityActive="false"/>
	</KukaRoboter.SmartHMI.ModeOpImprovedVisibility>
</configuration>
